h1{
    margin: 0;
}

hr{
    border: 1px solid #131313;
    border-radius: 40px;
    width: 100%;
    position: fixed;
    top: 74px;
}

body{
    margin: 0;
    background-color: #131313;
}

.hContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    width: 100%;
}

.vContainer{
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.link{
    color: #131313;
    font-family: Jetbrains Mono;
    font-size: 20px;

    height: auto;
    width: auto;
    background: none;
    border: none;

    cursor:pointer;
    padding-right: 20px;
}

.link:hover{
    text-decoration:underline;
}


.webPage{
    /* padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px; */
    height: 100vh;
    background-color: #fff;
    border-bottom: 1px solid #131313;

    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
    z-index: 2;
}

.slideBox{
    position: relative;
    width: 100%;
    height: 90%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.slideItem{
    position: absolute;
    width: 70%;
    height: 80%;
    text-align: justify;
    background-color: #fff;
    color: #131313;
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 20px;
    border-radius: 10px;
    border: 1px solid #131313;
    transition: 0.5s;
    overflow: hidden;
}

.projectSlideTitle{
    font-family: Jetbrains Mono;
    margin-bottom: 15px;
    font-size: 45px;
}

.projectSlideDescription{
    font-family: Jetbrains Mono;
    font-size: 18px;
    
    /* background-color: aquamarine; */
}


.wholeSlideProject{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.topSlideProject{
    height: auto;
    /* background-color: blue; */
}

.bottomSlideProject{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100%;
    /* background-color:brown; */
    /* align-self: stretch; */
}

.skillIcon{
    width: 32%;
    height: 100%;
    /* margin-right: 3px; */
}

.skillName{
    font-family: Jetbrains Mono;
    font-size: 20px;
    margin-left: 5px;

    width: 140px;

    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.skillContent{
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
    
}

.midiaSlideProject{
    height: 100%;
    width: 448px;
    margin-left: 10px;
    /* background-color: blue; */

    display: flex;
    justify-content: center;
    align-items: center;
}

.skillsSlideProject{
    height: 100%;
    width: 448px;
    margin-right: 10px;
    /* background-color: blue; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.midiaBoxProject{
    width: 100%;
    height: 252px;

    border: #131313 1px solid;
    border-radius: 10px;
}

.contactText{
    font-family: Jetbrains Mono;
    font-size: 20px;
    margin-left: 5px;

    width: 100%;

    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.contactContent{
    height: 100%;

    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.contactIcon{
    width: 32%;
    height: 100%;
    /* margin: 3px; */
}

.contactBox{
    overflow: hidden;

    width: 150%;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #131313;
    color: #fff;

    border-radius: 10px;
    border: 1px solid #fff;
    
}

.contactBox:hover, #emailBox:hover{
    background-color: #fff;
    color: #131313;
    cursor: pointer;
}

/* ----------------------------------------------------------- */

#letterboxdBox:hover .contactContent img{
    filter: invert(1);
}

#pageTitle{
    color: #131313;
    margin-top: 50px;
    font-family: Teko;
    font-size: 70px;
}

#nextButton, #prevButton{
    position: absolute;
    top: 40%;
    color: #131313;
    background-color: transparent;
    border: none;
    font-size: xxx-large;
    font-family: Jetbrains Mono;
    font-weight: normal;
    left: 50px;
    cursor:pointer;
}

#nextButton:hover, #prevButton:hover{
    font-weight: bold;
   
}

#nextButton{
    left: unset;
    right: 50px;
}

#scrollIndication{
    font-size: 20px;
    position: absolute;
    top: 80vh;
    animation: bounce 2s infinite;
    color: #131313;
}

#helloMessage{
    margin: 0;

    font-family: Teko;
    font-size: 100px;
    color: #131313;
    padding: 0;
    height: auto;
    width: auto;
    font-weight:normal;
 
    white-space: nowrap;
    overflow: hidden;
    border: none;
    

    animation: typing 2s steps(15, end);
}


#homePage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#wholePage{
    display: flex;
    flex-direction:column;
    height: 500vh;
}


#navBar{
    position: fixed;
    background-color: transparent;
    transition: background-color 0.3s ease;
    z-index: 5;
    background-color: #fff;
    padding-top: 10px; 
}

#topLink{
    font-family: Jetbrains Mono;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


#topTitle{
    font-family: Teko;
    color: #131313;
    margin: 0;
    padding: 0;
    padding-left: 20px;

    height: auto;
    width: auto;
    background: none;
    border: none;

    font-weight:normal;
    font-size: 50px;
    cursor:pointer;
}

#topPage{
    display: flex;
    justify-content: center;
    z-index: 5;
}


#pageContainer{
    display: flex;
    flex-direction: column;
    position: relative;

    align-items: center;
    /* background-color:aqua; */
}

#projectPage{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#skillsPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

#skillBigBox{
    position: relative;
    width: 60vw;
    height: 70%;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    align-content: flex-start;

    /* animation: down 1s; */
}


#skillBox{
    
    width: 200px;
    height: 60px;

    flex: 1 1 auto;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    color: #131313;
    
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    border-radius: 10px;

    border-radius: 10px;
    border: 1px solid #131313;
    
}

#skillBoxOnProject{
    
    width: 150px;
    height: 45px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    color: #131313;
    
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    border-radius: 10px;

    margin-bottom: 7px;

    border-radius: 10px;
    border: 1px solid #131313;
    
}

#skillBox:hover, #skillBoxOnProject:hover{
    background-color: #131313;
    color: #fff;
}

#buttomBoxOnProject{
    
    width: 168px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    color: #131313;
    
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #131313;
    
}

#buttomBoxOnProject:hover{
    background-color: #131313;
    color: #fff;
    cursor: pointer;
}

#contactPage{
    background-color: #131313;
    position: fixed;
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#emailMessage a{
    color: #fff;
    font-family: Jetbrains Mono;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
}


#contactBigBox{
    position: relative;
    width: 25vw;
    height: 90%;

    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    align-content: center;

   /* background-color: aqua; */
}

#emailBox{
    overflow: hidden;

    width: 100%;
    height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #131313;
    color: #fff;
    
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    border-radius: 10px;

    border-radius: 10px;
    border: 1px solid #fff;
    
}



#emailBox:hover #emailMessage a {
    color: #131313;
}

#contactMessage{
    font-family: Teko;
    font-size: 80px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-bottom: -20px;
}

.hiddenAnimation{
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.visibleAnimation {
opacity: 1;
transform: translateY(0);
}
.projects {
background: #f0f0f0;
}

/* ---------------------------- */

body::-webkit-scrollbar {
    width: 7px;
}

body::-webkit-scrollbar-thumb {
    border-radius: 40px; 
    background-color: #131313
}

body::-webkit-scrollbar-track {
    border-radius: 40px; 
    background-color: #c4c4c4;
}


@keyframes bounce {
0%, 100% {
    transform: translateY(0);
}
50% {
    transform: translateY(10px);
}
}

@keyframes down{
    0%{ transform: translateY(-200px);}
    100%{ transform: translateY(0px);}
}

@keyframes typing {
    from {
      width: 0;
      border-right: 2px solid black;
    }
    to {
      width: 13ch;
      border-right: 2px solid black;
    }
  }
