h1{
    margin: 0;
}

hr{
    border: 1px solid #131313;
    border-radius: 40px;
    width: 100%;
    position: fixed;
    top: 74px;
}

body{
    margin: 0;
    background-color: #fbf8f1;
}

.hContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* padding-left: 20px;
    padding-right: 20px; */
    /* background-color: #fbf8f1; */

    width: 100%;
}

.vContainer{
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.link{
    font-family: Jetbrains Mono;
    font-size: 20px;

    height: auto;
    width: auto;
    background: none;
    border: none;

    cursor:pointer;
    padding-right: 20px;
}

.webPage{
    width: 100%;
    height: 100vh;
    background-color: blueviolet;
    border-bottom: 3px solid #131313;
}

.projectBox{
    border: 1px solid #131313;
    width: 600px;
}


/* ----------------------------------------------------------- */

#imgHome{
    width: 100%;
    height: 100vh;
    background-image: url('Images/home.png');
    background-size: cover; /* Faz a imagem cobrir toda a div */
    background-position: center; /* Centraliza a imagem */
    
}

#imgProject{
    width: 500px;
    height: 100%;
    background-image: url('Images/project.png');
    background-size: cover; /* Faz a imagem cobrir toda a div */
    background-position: center; /* Centraliza a imagem */
    
}

#wholePage{
    display: flex;
    flex-direction:column;
    height: auto;
}

#navBar{
    position: fixed;
    background-color: transparent;
    transition: background-color 0.3s ease;
    z-index: 5;
    /* background-color: #fbf8f1; */
    background-color: rgba(251, 248, 241, 0.7);
    
    /* padding-left: 30px; */
    /* padding-right: 30px; */
    padding-top: 10px; 
}

#imageContainer{
    display: inline-block;
    z-index: -1;
    position: absolute;
    width: 100%;
    height: auto;
    display: block;
}

#topLinks{
    color: #131313;

    font-family: Jetbrains Mono;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

  
}

#topTitle{
    font-family: Teko;
    color: #131313;
    margin: 0;
    padding: 0;
    padding-left: 20px;

    height: auto;
    width: auto;
    background: none;
    border: none;

    font-weight:normal;
    font-size: 50px;
    cursor:pointer;
}

#topPage{
    display: flex;
    justify-content: center;
}

#imageCredits{
    justify-content: end;
    color: #94928e;
    position: absolute;
    /* bottom:-400vh; */
    z-index: 100;
    /* background-color: blue; */
    width: 100%;

    font-family: Jetbrains Mono;
    display: flex;
    justify-content: center;
    align-items: center;

    white-space: normal;
}

#imageCredits a{
    color: #94928e;
    margin-right: 5px; 
    margin-left: 5px; 
}

#pageContainer{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 82px;
 
    /* background-color:aqua; */
}

#projectPage{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}

#projectContent{
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
}

body::-webkit-scrollbar {
    width: 7px;
}

body::-webkit-scrollbar-thumb {
    border-radius: 40px; 
    background-color: #94928e
}

body::-webkit-scrollbar-track {
    border-radius: 40px; 
    background-color: #e4e0d9;
}