h1{
    margin: 0;
}

hr{
    border: 1px solid #131313;
    border-radius: 40px;
    width: 100%;
    position: fixed;
    top: 74px;
}

body{
    margin: 0;
    background-color: #131313;
}

.hContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    width: 100%;
}

.vContainer{
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.link{
    color: #fff;
    font-family: Jetbrains Mono;
    font-size: 20px;

    font-weight: bold;

    height: auto;
    width: auto;
    background: none;
    border: none;

    cursor:pointer;
    padding-right: 20px;
}

.link:hover{
    text-decoration:underline;
}


.webPage{
    height: 100vh;
    background-color: #fcfbfb;
    /* border-bottom: 1px solid #131313; */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);

    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
    z-index: 2;
}

.slideBox{
    position: relative;
    width: 100%;
    height: 90%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.slideItem{
    position: absolute;
    width: 70%;
    height: 80%;
    text-align: justify;
    background-color: #fff;
    color: #131313;
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    border-radius: 10px;
    border: 1px solid #131313;
    transition: 0.5s;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2);
    overflow:auto;
}
.slideItem::-webkit-scrollbar {
    width: 7px;
}

.slideItem::-webkit-scrollbar-thumb {
    border-radius: 40px; 
    background-color: #131313
}

.slideItem::-webkit-scrollbar-track {
    border-radius: 40px; 
    background-color: #c4c4c4;
}

.projectSlideTitle{
    font-family: Jetbrains Mono;
    margin-bottom: 15px;
    font-size: 45px;
}

.projectSlideDescription{
    font-family: Jetbrains Mono;
    font-size: 18px;
    
    /* background-color: aquamarine; */
}

.wholeSlideProject{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.topSlideProject{
    height: auto;
    /* background-color: blue; */
}

.bottomSlideProject{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100%;
    /* background-color:brown; */
    /* align-self: stretch; */
}

.skillIcon{
    width: 32%;
    height: 100%;
    /* margin-right: 3px; */
}

.skillName{
    font-family: Jetbrains Mono;
    font-size: 20px;
    margin-left: 5px;

    width: 140px;

    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.skillContent{
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.midiaSlideProject{
    height: 100%;
    width: 100%;
    aspect-ratio: 16 / 9;
    /* margin-left: 10px; */
    /* background-color: blue; */

    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.skillsSlideProject{
    height: 100%;
    width: 100%;
    /* margin-right: 10px; */
    /* background-color: blue; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.midiaBoxProject{
    width: 100%;
    height: 100%;

    border: #131313 1px solid;
    border-radius: 10px;

    overflow: hidden;
    /* filter:saturate(0.5); */
}

#midiaVOID{
    height: 100%;
    width: 100%;

}


.contactText{
    font-family: Jetbrains Mono;
    font-size: 20px;
    margin-left: 5px;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.contactContent{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.contactIcon{
    width: 32%;
    height: 100%;
}

.contactBox{
    overflow: hidden;
    width: 150%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #131313;
    color: #fff;
    border-radius: 10px;
    border: 1px solid #fff;
    /* box-shadow: 4px 4px 4px rgb(255, 255, 255, 0.5); */
    
}

.contactBox:hover, #emailBox:hover{
    background-color: #fff;
    color: #131313;
    cursor: pointer;
}

.hiddenAnimation{
    opacity: 0;
    transform: translateY(-50px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.visibleAnimation {
    opacity: 1;
    transform: translateY(0px);
}


/* ----------------------------------------------------------- */

#imageProfile{
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 10px;
    border: 1px solid #131313;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.4);
}

#playMessage{
    text-decoration: underline;
}

#letterboxdBox:hover .contactContent img, #skillBox:hover, #skillBoxOnProject:hover{
    filter: invert(1);
}

#skillBox:hover{
    border: 1px solid #fff;
}


#projectMessage{
    color: #131313;
    margin-top: 50px;
    font-family: Teko;
    font-size: 70px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

#skillsMessage{
    color: #131313;
    margin-top: 50px;
    font-family: Teko;
    font-size: 70px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

#nextButton, #prevButton{
    position: absolute;
    top: 40%;
    color: #131313;
    background-color: transparent;
    border: none;
    font-size: xxx-large;
    font-family: Jetbrains Mono;
    font-weight: normal;
    left: 50px;
    cursor: pointer;
    opacity: 0.7;
    font-weight: bolder;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
}

#nextButton:hover, #prevButton:hover{
    opacity: 1;
}

#nextButton{
    left: unset;
    right: 50px;
}

#scrollIndication{
    font-size: 20px;
    position: absolute;
    top: 80vh;
    animation: bounce 2s infinite;
    color: #131313;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

#helloMessage{
    margin: 0;

    font-family: Teko;
    font-size: 100px;
    color: #131313;
    padding: 0;
    height: auto;
    width: auto;
    font-weight:normal;
    white-space: nowrap;
    overflow: hidden;
    border: none;
    animation: typing 2s steps(15, end);

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

#wholePage{
    display: flex;
    flex-direction:column;
    height: 500vh;
}


#navBar{
    position: fixed;
    background-color: #131313;
    /* padding-top: 10px;  */
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.2);
}

#topLink{
    font-family: Jetbrains Mono;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


#topTitle{
    font-family: Teko;
    color: #fff;
    margin: 0;
    padding: 0;
    padding-left: 20px;

    height: auto;
    width: auto;
    background: none;
    border: none;

    font-weight:normal;
    font-size: 50px;
    cursor:pointer;
}

#topPage{
    display: flex;
    justify-content: center;
    z-index: 10;
}


#pageContainer{
    display: flex;
    flex-direction: column;
    position: relative;

    align-items: center;
    /* background-color:aqua; */
}

#homePage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ccdbdc;


    z-index: 5;
}

#aboutPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 4;
    background-color: #9ad1d4;
}

#skillsPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    z-index: 3;
    background-color: #80ced7;
}

#projectPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
    background-color: #007ea7;
}

#contactPage{
    background-color: #131313;
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#aboutText{
    font-family: Jetbrains Mono;
    font-size: 18px;
    text-align: justify;
}

#aboutName{
    font-family: Teko;
    font-size: 50px;
    color: #131313;
    margin-top: -10px;
    margin-left: -2px;
    margin-bottom: -5px;
}

#skillBigBox{
    position: relative;
    width: 60vw;
    height: 70%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    align-content: flex-start;
}

#aboutBigBox{
    position: relative;
    width: 70vw;
    height: 60%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    align-content: flex-start;
    
}

#rightAbout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    width: 50%;
}

#leftAbout{
    width: auto;
    height: 100%;
    aspect-ratio: 1/1;
}

#aboutBox{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background-color: #fff;
    color: #131313;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    border: 1px solid #131313;
    /* background-color: #FFC857; */
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2);
}

#skillBox{
    width: 200px;
    height: 60px;
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    color: #131313;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #131313;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.2);
}

#skillBoxOnProject{
    width: 150px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    color: #131313;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    border-radius: 10px;
    margin-bottom: 7px;
    border-radius: 10px;
    border: 1px solid #131313;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

#buttomBoxOnProject{
    width: 168px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    color: #131313;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #131313;
}

#buttomBoxOnProject:hover{
    background-color: #131313;
    color: #fff;
    cursor: pointer;
}


#emailMessage a{
    color: #fff;
    font-family: Jetbrains Mono;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
}


#contactBigBox{
    position: relative;
    width: 25vw;
    height: 90%;

    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    align-content: center;

   /* background-color: aqua; */
}

#emailBox{
    overflow: hidden;

    width: 100%;
    height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #131313;
    color: #fff;
    
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    border-radius: 10px;

    border-radius: 10px;
    border: 1px solid #fff;
    /* box-shadow: 4px 4px 4px rgb(255, 255, 255, 0.5); */
    
}

#emailBox:hover #emailMessage a {
    color: #131313;
}

#contactMessage{
    font-family: Teko;
    font-size: 80px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-bottom: -20px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);

}

#aboutMessage{
    font-family: Teko;
    font-size: 80px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #131313;
    /* margin-bottom: -20px; */
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);

}

/* ---------------------------- */

body::-webkit-scrollbar {
    width: 7px;
}

body::-webkit-scrollbar-thumb {
    border-radius: 40px; 
    background-color: #131313
}

body::-webkit-scrollbar-track {
    border-radius: 40px; 
    background-color: #c4c4c4;
}


@keyframes bounce {
0%, 100% {
    transform: translateY(0);
}
50% {
    transform: translateY(10px);
}
}

@keyframes down{
    0%{ transform: translateY(-200px);}
    100%{ transform: translateY(0px);}
}

@keyframes typing {
    from {
      width: 0;
      border-right: 2px solid black;
    }
    to {
      width: 13ch;
      border-right: 2px solid black;
    }
  }
